[submodule "DankEngine/vendor/spdlog"]
	path = DankEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DankEngine/vendor/GLFW"]
	path = DankEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
